{
  "name": "og",
  "firstRun": false,
  "exportConfig": true,
  "fileConfigs": [
    {
      "path": "scss/components/_icon.scss",
      "configJson": "{\"forceCompile\":false,\"customOutput\":\"\",\"autoCompile\":true,\"sourceMap\":false,\"compiler-node-sass\":{\"enabled\":true,\"outputStyle\":\"nested\"}}"
    },
    {
      "path": "scss/style.scss",
      "configJson": "{\"forceCompile\":false,\"customOutput\":\"\",\"autoCompile\":true,\"sourceMap\":false,\"compiler-cssnext\":{\"enabled\":true},\"compiler-ruby-sass\":{\"enabled\":true,\"outputStyle\":\"nested\",\"lineNumbers\":false},\"compiler-minify-css\":{\"enabled\":false}}"
    },
    {
      "path": "scss/global/global.scss",
      "configJson": "{\"forceCompile\":false,\"customOutput\":\"\",\"autoCompile\":true,\"sourceMap\":false,\"compiler-node-sass\":{\"enabled\":true,\"outputStyle\":\"nested\"}}"
    },
    {
      "path": "scss/mixins/_animation-delay.scss",
      "configJson": "{\"forceCompile\":false,\"customOutput\":\"\",\"autoCompile\":true,\"sourceMap\":false,\"compiler-node-sass\":{\"enabled\":true,\"outputStyle\":\"nested\"}}"
    },
    {
      "path": "scss/_mixins.scss",
      "configJson": "{\"forceCompile\":false,\"customOutput\":\"\",\"autoCompile\":true,\"sourceMap\":false,\"compiler-node-sass\":{\"enabled\":true,\"outputStyle\":\"nested\"}}"
    },
    {
      "path": "scss/global/_global.scss",
      "configJson": "{\"forceCompile\":false,\"customOutput\":\"\",\"autoCompile\":true,\"sourceMap\":false,\"compiler-node-sass\":{\"enabled\":true,\"outputStyle\":\"nested\"}}"
    },
    {
      "path": "scss/theme/gold.scss",
      "configJson": "{\"forceCompile\":false,\"customOutput\":\"\",\"autoCompile\":true,\"sourceMap\":false,\"compiler-node-sass\":{\"enabled\":true,\"outputStyle\":\"nested\"}}"
    },
    {
      "path": "scss/theme/red.scss",
      "configJson": "{\"forceCompile\":false,\"customOutput\":\"\",\"autoCompile\":true,\"sourceMap\":false,\"compiler-node-sass\":{\"enabled\":true,\"outputStyle\":\"nested\"}}"
    },
    {
      "path": "scss/theme/_gold.scss",
      "configJson": "{\"forceCompile\":false,\"customOutput\":\"\",\"autoCompile\":true,\"sourceMap\":false,\"compiler-node-sass\":{\"enabled\":true,\"outputStyle\":\"nested\"}}"
    },
    {
      "path": "scss/theme/_red.scss",
      "configJson": "{\"forceCompile\":false,\"customOutput\":\"\",\"autoCompile\":true,\"sourceMap\":false,\"compiler-node-sass\":{\"enabled\":true,\"outputStyle\":\"nested\"}}"
    },
    {
      "path": "scss/mixins/_translate3d.scss",
      "configJson": "{\"forceCompile\":false,\"customOutput\":\"\",\"autoCompile\":true,\"sourceMap\":false,\"compiler-node-sass\":{\"enabled\":true,\"outputStyle\":\"nested\"}}"
    },
    {
      "path": "scss/vendors/_swiper.scss",
      "configJson": "{\"forceCompile\":false,\"customOutput\":\"\",\"autoCompile\":true,\"sourceMap\":false,\"compiler-node-sass\":{\"enabled\":true,\"outputStyle\":\"nested\"}}"
    },
    {
      "path": "scss/gui/_mockup.scss",
      "configJson": "{\"forceCompile\":false,\"customOutput\":\"\",\"autoCompile\":true,\"sourceMap\":false,\"compiler-node-sass\":{\"enabled\":true,\"outputStyle\":\"nested\"}}"
    },
    {
      "path": "scss/gui/_plan.scss",
      "configJson": "{\"forceCompile\":false,\"customOutput\":\"\",\"autoCompile\":true,\"sourceMap\":false,\"compiler-ruby-sass\":{\"enabled\":true,\"outputStyle\":\"nested\",\"lineNumbers\":false}}"
    },
    {
      "path": "scss/gui/_scroll-to-section.scss",
      "configJson": "{\"forceCompile\":false,\"customOutput\":\"\",\"autoCompile\":true,\"sourceMap\":false,\"compiler-ruby-sass\":{\"enabled\":true,\"outputStyle\":\"nested\",\"lineNumbers\":false}}"
    },
    {
      "path": "scss/gui/_team.scss",
      "configJson": "{\"forceCompile\":false,\"customOutput\":\"\",\"autoCompile\":true,\"sourceMap\":false,\"compiler-ruby-sass\":{\"enabled\":true,\"outputStyle\":\"nested\",\"lineNumbers\":false}}"
    },
    {
      "path": "scss/mixins/_horizontal-center-align.scss",
      "configJson": "{\"forceCompile\":false,\"customOutput\":\"\",\"autoCompile\":true,\"sourceMap\":false,\"compiler-ruby-sass\":{\"enabled\":true,\"outputStyle\":\"nested\",\"lineNumbers\":false}}"
    },
    {
      "path": "scss/gui/_video.scss",
      "configJson": "{\"forceCompile\":false,\"customOutput\":\"\",\"autoCompile\":true,\"sourceMap\":false,\"compiler-node-sass\":{\"enabled\":true,\"outputStyle\":\"nested\"}}"
    },
    {
      "path": "scss/mixins/_background.scss",
      "configJson": "{\"forceCompile\":false,\"customOutput\":\"\",\"autoCompile\":true,\"sourceMap\":false,\"compiler-node-sass\":{\"enabled\":true,\"outputStyle\":\"nested\"}}"
    },
    {
      "path": "scss/mixins/_hover.scss",
      "configJson": "{\"forceCompile\":false,\"customOutput\":\"\",\"autoCompile\":true,\"sourceMap\":false,\"compiler-node-sass\":{\"enabled\":true,\"outputStyle\":\"nested\"}}"
    },
    {
      "path": "scss/vendors/_gmap.scss",
      "configJson": "{\"forceCompile\":false,\"customOutput\":\"\",\"autoCompile\":true,\"sourceMap\":false,\"compiler-node-sass\":{\"enabled\":true,\"outputStyle\":\"nested\"}}"
    },
    {
      "path": "scss/mixins/_clearfix.scss",
      "configJson": "{\"forceCompile\":false,\"customOutput\":\"\",\"autoCompile\":true,\"sourceMap\":false,\"compiler-node-sass\":{\"enabled\":true,\"outputStyle\":\"nested\"},\"compiler-ruby-sass\":{\"outputStyle\":\"expanded\"}}"
    }
  ],
  "fileTree": {
    "expandedDirs": [
      "scss",
      "css"
    ],
    "hideSystemFiles": true,
    "systemFiles": [
      ".*",
      "desktop.ini",
      "prepros.config",
      "$RECYCLE.BIN",
      "prepros.cfg",
      "prepros-6.config",
      "Prepros Export"
    ],
    "hideUnwatchedFiles": false
  },
  "imports": [
    {
      "path": "scss/style.scss",
      "imports": [
        "scss/_variables.scss",
        "scss/_mixins.scss",
        "scss/base/_base.scss",
        "scss/base/_selection.scss",
        "scss/components/_button.scss",
        "scss/components/_clients.scss",
        "scss/components/_faq.scss",
        "scss/components/_form-input.scss",
        "scss/components/_icon.scss",
        "scss/gui/_promo-block.scss",
        "scss/gui/_mockup.scss",
        "scss/gui/_plan.scss",
        "scss/gui/_process.scss",
        "scss/gui/_scroll-to-section.scss",
        "scss/gui/_team.scss",
        "scss/gui/_video.scss",
        "scss/layout/_header.scss",
        "scss/layout/_header-v2.scss",
        "scss/layout/_footer.scss",
        "scss/vendors/_back-to-top.scss",
        "scss/vendors/_cubeportfolio.scss",
        "scss/vendors/_gmap.scss",
        "scss/vendors/_swiper.scss",
        "scss/mixins/_animation.scss",
        "scss/mixins/_animation-delay.scss",
        "scss/mixins/_backface-visibility.scss",
        "scss/mixins/_background.scss",
        "scss/mixins/_before-after.scss",
        "scss/mixins/_border-radius.scss",
        "scss/mixins/_breakpoints.scss",
        "scss/mixins/_button.scss",
        "scss/mixins/_child.scss",
        "scss/mixins/_clearfix.scss",
        "scss/mixins/_container.scss",
        "scss/mixins/_cubic-transition.scss",
        "scss/mixins/_display-center.scss",
        "scss/mixins/_font.scss",
        "scss/mixins/_gradients.scss",
        "scss/mixins/_horizontal-center-align.scss",
        "scss/mixins/_hover.scss",
        "scss/mixins/_keyframes.scss",
        "scss/mixins/_overlay.scss",
        "scss/mixins/_perspective.scss",
        "scss/mixins/_placeholder.scss",
        "scss/mixins/_position.scss",
        "scss/mixins/_rotate.scss",
        "scss/mixins/_selection.scss",
        "scss/mixins/_size.scss",
        "scss/mixins/_stroke-dashoffset.scss",
        "scss/mixins/_theme-icons.scss",
        "scss/mixins/_transform-origin.scss",
        "scss/mixins/_transform-scale.scss",
        "scss/mixins/_transition.scss",
        "scss/mixins/_translate3d.scss"
      ]
    },
    {
      "path": "scss/theme/gold.scss",
      "imports": [
        "scss/theme/_gold.scss",
        "scss/_mixins.scss",
        "scss/_variables.scss",
        "scss/theme/theme/_gold.scss",
        "scss/mixins/_animation.scss",
        "scss/mixins/_animation-delay.scss",
        "scss/mixins/_backface-visibility.scss",
        "scss/mixins/_background.scss",
        "scss/mixins/_before-after.scss",
        "scss/mixins/_border-radius.scss",
        "scss/mixins/_breakpoints.scss",
        "scss/mixins/_button.scss",
        "scss/mixins/_child.scss",
        "scss/mixins/_clearfix.scss",
        "scss/mixins/_container.scss",
        "scss/mixins/_cubic-transition.scss",
        "scss/mixins/_display-center.scss",
        "scss/mixins/_font.scss",
        "scss/mixins/_gradients.scss",
        "scss/mixins/_horizontal-center-align.scss",
        "scss/mixins/_hover.scss",
        "scss/mixins/_keyframes.scss",
        "scss/mixins/_overlay.scss",
        "scss/mixins/_perspective.scss",
        "scss/mixins/_placeholder.scss",
        "scss/mixins/_position.scss",
        "scss/mixins/_rotate.scss",
        "scss/mixins/_selection.scss",
        "scss/mixins/_size.scss",
        "scss/mixins/_stroke-dashoffset.scss",
        "scss/mixins/_theme-icons.scss",
        "scss/mixins/_transform-origin.scss",
        "scss/mixins/_transform-scale.scss",
        "scss/mixins/_transition.scss",
        "scss/mixins/_translate3d.scss"
      ]
    },
    {
      "path": "scss/theme/red.scss",
      "imports": [
        "scss/theme/_red.scss",
        "scss/_mixins.scss",
        "scss/_variables.scss",
        "scss/theme/theme/_red.scss",
        "scss/mixins/_animation.scss",
        "scss/mixins/_animation-delay.scss",
        "scss/mixins/_backface-visibility.scss",
        "scss/mixins/_background.scss",
        "scss/mixins/_before-after.scss",
        "scss/mixins/_border-radius.scss",
        "scss/mixins/_breakpoints.scss",
        "scss/mixins/_button.scss",
        "scss/mixins/_child.scss",
        "scss/mixins/_clearfix.scss",
        "scss/mixins/_container.scss",
        "scss/mixins/_cubic-transition.scss",
        "scss/mixins/_display-center.scss",
        "scss/mixins/_font.scss",
        "scss/mixins/_gradients.scss",
        "scss/mixins/_horizontal-center-align.scss",
        "scss/mixins/_hover.scss",
        "scss/mixins/_keyframes.scss",
        "scss/mixins/_overlay.scss",
        "scss/mixins/_perspective.scss",
        "scss/mixins/_placeholder.scss",
        "scss/mixins/_position.scss",
        "scss/mixins/_rotate.scss",
        "scss/mixins/_selection.scss",
        "scss/mixins/_size.scss",
        "scss/mixins/_stroke-dashoffset.scss",
        "scss/mixins/_theme-icons.scss",
        "scss/mixins/_transform-origin.scss",
        "scss/mixins/_transform-scale.scss",
        "scss/mixins/_transition.scss",
        "scss/mixins/_translate3d.scss"
      ]
    }
  ],
  "projectView": {
    "selectedView": "settings"
  },
  "fileWatcher": {
    "enabled": true,
    "watchedExtensions": [
      "less",
      "sass",
      "scss",
      "styl",
      "md",
      "markdown",
      "coffee",
      "js",
      "jade",
      "haml",
      "slim",
      "ls",
      "kit",
      "png",
      "jpg",
      "jpeg",
      "ts",
      "pug",
      "css",
      "html",
      "htm",
      "php"
    ]
  },
  "pathFilters": [
    "node_modules",
    ".*",
    "bower_components",
    "prepros.config",
    "Prepros Export",
    "prepros-6.config",
    "prepros.cfg",
    "wp-admin",
    "wp-includes"
  ],
  "server": {
    "port": 7890,
    "assignNewPortAutomatically": true,
    "enable": true,
    "proxy": {
      "enable": false,
      "url": ""
    }
  },
  "browser-sync": {
    "enable": false,
    "clicks": true,
    "forms": true,
    "scroll": true
  },
  "live-reload": {
    "enable": true,
    "animate": true,
    "delay": 0
  },
  "ftp-deploy": {
    "connectionType": "ftp",
    "remotePath": "",
    "uploadTimeout": 20000,
    "uploadOnChange": false,
    "ftp": {
      "secure": false,
      "host": "",
      "port": 21,
      "user": "",
      "password": ""
    },
    "sftp": {
      "host": "",
      "port": 22,
      "usePrivateKey": false,
      "username": "",
      "password": "",
      "privateKey": "",
      "passphrase": ""
    },
    "pathFilters": [
      "config.rb",
      "prepros.config",
      "prepros-6.config",
      "node_modules",
      "Prepros Export",
      ".git",
      ".idea",
      ".sass-cache",
      ".hg",
      ".svn",
      ".cache",
      ".DS_Store",
      "*.sass",
      "*.scss",
      "*.less",
      "*.pug",
      "*.jade",
      "*.styl",
      "*.haml",
      "*.slim",
      "*.coffee",
      "*.ls",
      "*.kit",
      "*.ts"
    ],
    "history": []
  },
  "file-type-sass": "{\"compilers\":[\"ruby-sass\"],\"autoCompile\":false,\"compiler-ruby-sass\":{\"outputStyle\":\"expanded\"},\"compiler-minify-css\":{\"enabled\":true},\"compiler-node-sass\":{\"outputStyle\":\"expanded\"}}",
  "file-type-less": "{\"compilers\":[\"less\"]}",
  "autoprefixer": {
    "browsers": "last 5 versions"
  },
  "file-type-pug": "{\"compilers\":[\"pug\"]}",
  "file-type-css": "{\"compilers\":[\"autoprefixer\",\"cssnext\",\"minify-css\"],\"compiler-minify-css\":{\"enabled\":false}}",
  "file-type-javascript": "{\"compilers\":[\"concat-js\",\"babel\",\"uglify-js\"]}",
  "file-type-stylus": "{\"compilers\":[\"stylus\",\"autoprefixer\",\"minify-css\"]}",
  "file-type-markdown": "{\"compilers\":[\"markdown\"]}",
  "file-type-haml": "{\"compilers\":[\"haml\"]}",
  "file-type-slim": "{\"compilers\":[\"slim\"]}",
  "file-type-coffee-script": "{\"compilers\":[\"coffee-script\",\"uglify-js\"]}",
  "file-type-livescript": "{\"compilers\":[\"livescript\",\"uglify-js\"]}",
  "file-type-kit": "{\"compilers\":[\"kit\"]}",
  "uglify-js": {
    "compress": {
      "sequences": true,
      "properties": true,
      "dead_code": true,
      "drop_debugger": true,
      "unsafe": false,
      "unsafe_comps": false,
      "conditionals": true,
      "comparisons": true,
      "evaluate": true,
      "booleans": true,
      "loops": true,
      "unused": true,
      "hoist_funs": true,
      "keep_fargs": false,
      "hoist_vars": false,
      "if_return": true,
      "join_vars": true,
      "cascade": true,
      "side_effects": true,
      "pure_getters": false,
      "negate_iife": true,
      "screw_ie8": false,
      "drop_console": false,
      "angular": false,
      "warnings": false,
      "pure_funcs": [],
      "global_defs": []
    },
    "output": {
      "quote_keys": false,
      "space_colon": true,
      "ascii_only": false,
      "unescape_regexps": false,
      "inline_script": false,
      "beautify": false,
      "bracketize": false,
      "semicolons": true,
      "comments": false,
      "preserve_line": false,
      "screw_ie8": false
    }
  },
  "cssnext": {
    "customProperties": true,
    "applyRule": true,
    "calc": false,
    "nesting": true,
    "customMedia": true,
    "mediaQueriesRange": true,
    "customSelectors": true,
    "attributeCaseInsensitive": true,
    "colorRebeccapurple": true,
    "colorHwb": true,
    "colorGray": true,
    "colorHexAlpha": true,
    "colorFunction": true,
    "fontVariant": true,
    "filter": true,
    "initial": true,
    "rem": true,
    "pseudoElements": true,
    "pseudoClassMatches": true,
    "pseudoClassNot": true,
    "pseudoClassAnyLink": true,
    "colorRgba": true,
    "overflowWrap": true
  },
  "file-type-typescript": "{\"compilers\":[\"typescript\",\"uglify-js\"]}",
  "babel": {
    "useBabelRc": true,
    "presets": {
      "babel-preset-es2015": true
    },
    "plugins": {
      "babel-plugin-syntax-jsx": true,
      "babel-plugin-transform-react-jsx": true,
      "babel-plugin-transform-async-to-generator": true,
      "babel-plugin-transform-class-properties": true,
      "babel-plugin-transform-object-rest-spread": true
    }
  },
  "file-type-png": "{\"compilers\":[\"png\"]}",
  "file-type-jpg": "{\"compilers\":[\"jpg\"]}"
}